.Slider {
    width: 100%;
    height: 100%;
}

#myslider {
    appearance: none;
    width: 100%;
    height: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ADE1FF;
}

#myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #49DEFF;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
