.PlayControl {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 10;
}

.PlayControl > div {
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 1s;
}

.PlayControl>div:hover {
    background-color: rgba(255, 255, 255, 0.5);;
}

.PlayControl > div:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PlayControl>div:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
