.ControlPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.ControlPanel > div {
    width: 90%;
    margin: auto;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.1);
}
