.DataSizeSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin: auto;
}

.DataSizeSelector p, .DataSizeSelector span {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.DataSizeSelector .minData {
    position: relative;
    float: left;
    left: -10px;
}

.DataSizeSelector .maxData {
    position: relative;
    float: right;
    right: -10px;
}
